footer
{
    background-color: #333333;
    color: white;
}
footer,
footer a 
{
    color: white;
}
/* make a specific class with your css rule

.nav-background {
    bckground color: #dddddd;
}
*/

/* use decendant selectors
you use a DRILL DOWN approach to isolating the html you wish to apply your rules

example
    within the nav area, the url is to get the following rules
    */
nav ul 
{
        background-color: #dddddd;
    }
nav ul li 
{
    border-bottom: 1px solid #333;
}

/* child selectors

this is an element selector within another element that is not necessarily directly below the 
parent element selector.

upper html element (parent)
within the upper parent soem html element
*/

main p{
    font-style: italic;
}

nav a 
{
    color: black;
}
nav ul li a 
{
    color: #333;
    text-decoration: none;
}
/* to remove the underline of an anchor tag: text-decoration: none;
change the text colr of the anchor tagto #333
apply only to the navigational menu
*/

/* classes

syntax for naming is a .user/name{rules}
you are NOT using element names
user name must be meaningful
clases can be attached to any element
classes are independant of an element
on html page to use:    class="user-name [user-name]"


types: user (targeted) class
Psuedo class, these are attached to elements

anchor tag has several pseudo classes
NOTE! the order in which you code your psuedo classes for the anchor is EXTREMELY IMPORTANT to get to work correctly

a:link unused link
a:hover used when your cursor hovers over the anchor tag link
a:visited used when the anchor tag link has been clicked on previously, when it turns purple
a:active used when you are actually clicking the anchor tag link
*/

nav ul li a:hover 
{
    color: blue;
    font-weight: bold;
    font-size: larger;
}
nav ul li a:active 
{
    color: red;
    /*font-weight: bold;
    font-size: larger;*/
}
.bulletremoval {
    list-style: none;
    padding-left: 0;
}
/* targeted class
   element.classname
*/
nav ul.bulletremoval {
    list-style-type: none;
    padding: 10px;
}

/* id selector

similar to a class selector BUt is supposed to be used only once on a page
where as a class may be used multiple times
syntax #user-name{rules}
on the html page:     id="user-name"
*/